* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(153deg, rgb(126, 141, 213) 0%, rgb(106, 51, 62) 100%);
  margin: 0 0 100% 0;
}

h1 {
  color: #323232;
  font-size: 3rem;
  text-align: center;
  margin: 20px;
  -webkit-text-stroke: 1px rgb(125, 126, 131);
}

h4 {
  font-family: 'Roboto', sans-serif;
  color: #595a5c;
  font-size: 25px;
  text-align: center;
  margin: 20px;
}

.calculator{
  width: 300px;
  min-height: 400px;
  height: auto;
  background-color: #fff;
  display: flex;
  border: solid 1px #3A4655;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
  width: 25%;
  background: #4a4949;
  color: #dddddd;
  border: solid 1px #515151;
  border-radius: 0px;
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  border-right: solid 2px #4e4f50;
  border-bottom: solid 2px #3a3b3d;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: #6c6b68;
  transform: scale(1.03);
}

button:active {
  background: #4a4949;
  transform: scale(1);
}

.buttonRow {
  width: 100%;
  background-color: #4a4949;
  }

