* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


h1 {
  color: #323232;
  font-size: 3rem;
  text-align: center;
  margin: 20px;
  -webkit-text-stroke: 1px rgb(125, 126, 131);
}

h4 {
  font-family: 'Roboto', sans-serif;
  color: #595a5c;
  font-size: 25px;
  text-align: center;
  margin: 20px;
}

button {
  background-color: #4a4949;
  color: #fff;
  border: solid 1px #515151;
  border-radius: 0px;
  padding: 20px;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-right: -4px;
  display: inline-block;
  border-right: solid 2px #4e4f50;
  border-bottom: solid 2px #3a3b3d;
  transition: all 0.2s ease-in-out;
}

button.l {
  color: #AEB3BA;
  background: #404D5E;
}

button.c {
  color: #D95D4E;
  background: #404D5E;
}

button:hover {
  background: #6c6b68;
  transform: scale(1.05);
}

.calculatorPage{
  background: rgb(136,152,233);
  margin: 10;
  padding: 100;
  background: linear-gradient(153deg, rgba(136,152,233,1) 0%, rgba(255,124,151,1) 100%)
}

.calculator{
  width: 400px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.calculatorButtons {
  width: 100%;
  background-color: #4a4949;
  box-sizing: border-box;
}

.calcdButton {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 10px;
  cursor: pointer;
}


.calculator .result {
  width: 100%;
  height: 100px;
  background-color: #000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}

.display {
  width: 100%;
  height: 150px;
  background-color: #3a3939;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}